{{define "header"}}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Billy Mulrine</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<div class="header">
header
</div>
{{end}}